# Core scientific + image processing libraries
numpy
opencv-python
opencv-contrib-python
scikit-image
Pillow
pyclipper
pyyaml
cython
tqdm
lmdb
shapely
packaging

# OCR & augmentation
paddleocr
paddlepaddle==2.5.0
albumentations
albucore  # needed by some albumentations versions

# Optional: better fuzzy matching
rapidfuzz

# Networking / server
Flask==2.3.3
gunicorn==21.2.0
requests
